
/* -------------------------------------------------------------------------- */
/*                                   Borders                                  */
/* -------------------------------------------------------------------------- */
.overflow-hidden[class*='rounded'] {
  mask-image: radial-gradient(#fff, #000);
}

.overflow-hidden[class*='rounded'] {
  -webkit-mask-image: -webkit-radial-gradient(gray(255), black);
}

.fancy-border {
  text-align:center;
  border-top: 5px solid;
  border-image:   linear-gradient(to right, #feb272 25%, #ffff80 25%, #c5b3e6 50%, #badbcc 50%) 5;
}

.fancy-border-list {
  padding-bottom: 0.5em;
  border-bottom: 1px solid;
  border-image:   linear-gradient(to right, #feb272 25%, #ffff80 25%, #c5b3e6 50%, #badbcc 50%) 5;
}


.opacity-80 { opacity: 0.8;}


.orange-white-40-border-top
{
  border-top: 3px solid;
  border-color: #FEB272;

}
.yellow-white-50-border-top
{
  border-top: 3px solid;
  border-color: #FFFF80;
}
.purple-white-60-border-top
{
  border-top: 3px solid;
  border-color: #C5B3E6;
}
.green-white-70-border-top
{
  border-top: 3px solid;
  border-color: #BADBCC;
}
.blue-white-80-border-top
{
  border-top: 3px solid;
  border-color: #CFE2FF;
}

.orange-white-40-border-right
{
  border-right: 3px solid;
  border-color: #FEB272;

}

.yellow-white-50-border-right
{
  border-right: 3px solid;
  border-color: #FFFF80;
}
.purple-white-60-border-right
{
  border-right: 3px solid;
  border-color: #C5B3E6;
}
.green-white-70-border-right
{
  border-right: 3px solid;
  border-color: #BADBCC;
}
.blue-white-80-border-right
{
  border-right: 3px solid;
  border-color: #CFE2FF;
}

.border-top-2 {
  border-top-width: 0.125rem !important;
}

.border-end-2 {
  border-right-width: 0.125rem !important;
}

.border-bottom-2 {
  border-bottom-width: 0.125rem !important;
}

.border-start-2 {
  border-left-width: 0.125rem !important;
}

.header-icon {
  color: #04bad2
}


.collage-greenYellow {
    background: -webkit-linear-gradient(-45deg, #009C3B 33%, transparent 0%), linear-gradient(-45deg, #FFDF00 67%, transparent 33%), linear-gradient(-45deg, #3575ba 100%, transparent 67%);
    background: -moz-linear-gradient(-45deg, #009C3B 33%, transparent 0%), linear-gradient(-45deg, #FFDF00 67%, transparent 33%), linear-gradient(-45deg, #3575ba 100%, transparent 67%);
    background: linear-gradient(-45deg, #009C3B 33%, transparent 0%), linear-gradient(-45deg, #FFDF00 67%, transparent 33%), linear-gradient(-45deg, #3575ba 100%, transparent 67%);

}

.collage-pitch {
    background:-webkit-linear-gradient(45deg, rgba(254, 250, 224, 0.5) 33%, transparent 33%), linear-gradient(45deg, #ffffff 67%, transparent 33%), linear-gradient(45deg, rgba(250, 237, 205, 0.5) 100%, transparent 67%);
    background:-moz-linear-gradient(45deg, rgba(254, 250, 224, 0.5) 33%, transparent 33%), linear-gradient(45deg, #ffffff 67%, transparent 33%), linear-gradient(45deg, rgba(250, 237, 205, 0.5) 100%, transparent 67%);
    background:linear-gradient(45deg, rgba(254, 250, 224, 0.5) 33%, transparent 33%), linear-gradient(45deg, #ffffff 67%, transparent 33%), linear-gradient(45deg, rgba(250, 237, 205, 0.5) 100%, transparent 67%);

}

.fa-rotate-260 {
    -ms-transform:rotate(220deg);     /* Internet Explorer 9 */
    -webkit-transform:rotate(220deg); /* Chrome, Safari, Opera */
    transform:rotate(220deg);         /* Standard syntax */
}

.collage-blueWhite {
    background:-webkit-linear-gradient(-45deg, #ffffff 33%, transparent 0%), linear-gradient(-45deg, #fff1e6 67%, transparent 33%), linear-gradient(-45deg, #f7ede2 100%, transparent 67%);
    background:-moz-linear-gradient(-45deg, #ffffff 33%, transparent 0%), linear-gradient(-45deg, #fff1e6 67%, transparent 33%), linear-gradient(-45deg, #f7ede2 100%, transparent 67%);
    background:linear-gradient(-45deg, #ffffff 33%, transparent 0%), linear-gradient(-45deg, #fff1e6 67%, transparent 33%), linear-gradient(-45deg, #f7ede2 100%, transparent 67%);

}

.collage-blueWhiteLight {
    background:-webkit-linear-gradient(-45deg, rgba(53, 117, 186, 0.58) 33%, transparent 0%), linear-gradient(-45deg, rgb(255, 255, 255) 67%, transparent 33%), linear-gradient(-45deg, rgba(21, 146, 166, 0.58) 100%, transparent 67%);
    background:-moz-linear-gradient(-45deg, rgba(53, 117, 186, 0.58) 33%, transparent 0%), linear-gradient(-45deg, rgb(255, 255, 255) 67%, transparent 33%), linear-gradient(-45deg, rgba(21, 146, 166, 0.58) 100%, transparent 67%);
    background:linear-gradient(-45deg, rgba(53, 117, 186, 0.58) 33%, transparent 0%), linear-gradient(-45deg, rgb(255, 255, 255) 67%, transparent 33%), linear-gradient(-45deg, rgba(21, 146, 166, 0.58) 100%, transparent 67%);

}
