{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>{% block title %} Booking {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | About">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock css %}

{% endblock head %}

{% block content %}

    <div class="section-center">
        <div class="center-headline">
            <h1>About</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto">

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper elit orci, eget sodales
                        sem
                        tempus et. Nunc sapien sem, maximus sed ante vitae, faucibus molestie nulla. Donec aliquam
                        ligula
                        libero, vel tincidunt dui sollicitudin sit amet. Phasellus ac arcu ut lectus condimentum commodo
                        quis vel mauris. Nam quis augue a neque euismod hendrerit. Aenean suscipit varius pellentesque.
                        Vivamus commodo nunc sit amet nibh sodales elementum. Donec ornare dui id nunc iaculis, sit amet
                        iaculis quam ornare. Fusce sollicitudin a tortor ornare molestie.

                    </p>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
{% endblock js %}