{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>{% block title %} About {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | About">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock css %}

{% endblock head %}

{% block headline %}
    <h1 class="">About</h1>
{% endblock headline %}

{% block subline %}
    <p class="">Know our story and who we are</p>
{% endblock subline %}

{% block actionbtn %}

{% endblock actionbtn %}

{% block content %}

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container py-2 mt-5">

            <div class="row">
                <div class="col-lg-6 d-flex align-self-baseline mt-5">
                    <img src="{{ img.url }}" class="img-fluid rounded-1 pt-2" alt="">
                </div>

                <div class="col-lg-6 pt-2 content">
                    <ul class="list-group list-group-flush mt-3">
                        <li class=""><i class="fa-solid fa-check-double align-middle"></i> Ullamco laboris nisi ut
                            aliquip ex ea commodo
                            consequat.
                        </li>
                        <li class=""><i class="fa-solid fa-check-double align-middle"></i> Duis aute irure dolor in
                            reprehenderit in voluptate
                            velit.
                        </li>
                        <li class=""><i class="fa-solid fa-check-double align-middle"></i> Voluptate repellendus
                            pariatur reprehenderit
                            corporis sint.
                        </li>
                        <li class=""><i class="fa-solid fa-check-double align-middle"></i> Ullamco laboris nisi ut
                            aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda
                            mastiro dolore eu fugiat nulla pariatur.
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 mx-auto pt-2 content fancy-border-list">

                    <ul class="first"></ul>
                    <h3 class="fs-6 mb-2">{{ title }}</h3>
                    <p class="">{{ about }}</p>

                </div>

            </div>

        </div>
    </section><!-- End About Section -->

{% endblock content %}

{% block js %}
{% endblock js %}