{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>{% block title %} About {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | About">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/about.css' %}">
    {% endblock css %}

{% endblock head %}

{% block headline %}
    <h1 class="">About</h1>
{% endblock headline %}

{% block subline %}
    <p class="">Know our story and who we are</p>
{% endblock subline %}

{% block actionbtn %}

{% endblock actionbtn %}

{% block content %}

    <div class="section-center">

    </div>

{% endblock content %}

{% block js %}
{% endblock js %}