{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>{% block title %} Contact {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | Contact ">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/contact.css' %}">
    {% endblock css %}

{% endblock head %}

{% block headline %}
    <h1 class="">Contact</h1>
{% endblock headline %}

{% block subline %}
    <p class="">For any doubts - bookings - questions, feel free to contact us</p>
{% endblock subline %}

{% block actionbtn %}

{% endblock actionbtn %}

{% block content %}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container py-2 mt-5">
            <div class="row mb-4" data-aos="fade-up">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <i class="fa-regular fa-map"></i>
                        <h3>Our Address</h3>
                        <p>{{ addr }}</p>
                        <span>{{ zip }} {{ city }}</span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa-solid fa-at"></i>
                        <h3>Email Us</h3>
                        <p>{{ email }}</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="info-box  mb-4">
                        <i class="fa-solid fa-phone-flip"></i>
                        <h3>Call Us</h3>
                        <p>+45 {{ phone }}</p>
                    </div>
                </div>

            </div>

            <div class="row" data-aos="fade-up">
                <div class="col-lg-6 ">
                    <iframe class="mb-4 mb-lg-0 border-0"
                            src="https://maps.google.com/maps?q=lyngby&t=&z=13&ie=UTF8&iwloc=&output=embed"
                            style="width: 100%; height: 384px;" allowfullscreen></iframe>
                </div>

                <div class="col-lg-6">
                    <form role="form" class="php-email-form" id="contactform" action="{% url 'contact:contact' %}" method="post" novalidate>
                        {% csrf_token %}
                        <!-- reCAPTCHA input -->
                        {#                    <input type="hidden" id="recaptcha" name="g-recaptcha-response">#}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                {{ form.name }}
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                {{ form.email }}
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            {{ form.subject }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form.message }}
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                             <button class="btn btn-sm text-black collage-btn rounded-1" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->


{% endblock content %}

{% block js %}
{% endblock js %}