{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>{% block title %} Contact {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | Contact ">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'css/contact.css' %}">
    {% endblock css %}

{% endblock head %}

{% block headline %}
    <h1 class="">Contact</h1>
{% endblock headline %}

{% block subline %}
    <p class="">For any doubts - bookings - questions, feel free to contact us</p>
{% endblock subline %}

{% block actionbtn %}

{% endblock actionbtn %}

{% block content %}

    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-10 mx-auto">

                </div>
            </div>
        </div>
    </div>


{% endblock content %}

{% block js %}
{% endblock js %}