{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}

    <title>{% block title %} {{ domain }} | Booking {% endblock %}</title>
    <meta property="og:title" content="{{ domain }} | Booking ">
    <meta property="og:site_name" content="{{ request.get_host }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'img/logo.png' %}" type="image/png">
    <meta property="og:description" content="">

    {% block css %}
        <link type="text/css" rel="stylesheet" href="{% static 'scss/cards.css' %}">
    {% endblock css %}

{% endblock head %}

{% block headline %}
    <h1 class="">Our Care</h1>
{% endblock headline %}

{% block subline %}
    <p class="">{{ desc }}</p>
{% endblock subline %}

{% block actionbtn %}
    <a  class="btn hover-top-shadow btn-lg collage-btn rounded-1" href="{% url 'booking:create_booking' %}">Book Now</a>
{% endblock actionbtn %}

{% block content %}
{#    <div class="section-center store">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center">#}
{#                <div class="row row-cols-1 row-cols-md-2 row-cols-md-3 g-3">#}
{#                    {% for product in products %}#}
{#                        <div class="col">#}
{#                            <div class="card shadow-sm">#}
{#                                <h5 class="card-header text-black-50">Special</h5>#}
{#                                {% for image in product.product_image.all %}#}
{#                                    {% if image.is_feature %}#}
{#                                        <img class="img-fluid d-block mx-auto mx-sm-0"#}
{#                                             src="{{ image.image.url }}"#}
{#                                             width="" alt="{{ image.alt_text }}">#}
{#                                    {% else %}#}
                                        {#                                        <img class="img-thumbnail img-fluid d-inline-block pt-3"#}
                                        {#                                             src="{{ image.image.url }}"#}
                                        {#                                             width="" alt="{{ image.alt_text }}">#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
{#                                <div class="card-body">#}
{#                                    <h3 class="card-title">{{ product.title }}</h3>#}
{#                                    <p class="card-text">{{ product.description |slice:"150" }}</p>#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <div class="btn-group">#}
{#                                            <a href="{{ product.get_absolute_url }}"#}
{#                                               class="btn btn-outline-light btn-lg white-white-50 hover-top-shadow">Details</a>#}
{#                                        </div>#}
{#                                        <small class="text-muted">{{ product.price | intcomma }}</small>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div><!-- Row albums -->#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <section class="section-center store light">
        <div class="container py-2 mt-5">
            {% for product in products %}
                <div class="postcard light box">
                    {% for image in product.product_image.all %}
                        {% if image.is_feature %}
                        <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="{{ image.image.url }}" alt="{{ image.alt_text }}">
                        <a href="{% url 'booking:create_booking' %}"
                           class="btn btn-lg position-absolute top-0 border-0 collage-btn text-black">Book
                            Now</a>
                        </a>
                        {% else %}
                            {#                                        <img class="img-thumbnail img-fluid d-inline-block pt-3"#}
                            {#                                             src="{{ image.image.url }}"#}
                            {#                                             width="" alt="{{ image.alt_text }}">#}
                        {% endif %}
                    {% endfor %}
                    <div class="postcard__text t-dark">
                        <h2 class="postcard__title text-uppercase">{{ product.title }}</h2>
                        <div class="postcard__subtitle text-info">
                            <p>
                                {% if product.discount_price %}
                                <span class="fw-semibold">Før <s>{{ product.regular_price }} kr.</s></span>
                                <span class="fw-bold offset-1">Nu {{ product.discount_price }} kr.</span>
                                {% else %}
                                <span class="fw-semibold">Nu {{ product.regular_price }} kr.</span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">{{ product.description |slice:"150" }}</div>
                        <div class="py-3"><a href="{{ product.get_absolute_url }}"
                               class="btn btn-sm text-black collage-btn rounded-1">Details</a>
                        </div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item orange-white-30"><i class="fa-brands fa-instagram fa-fw"></i>Instagram
                            </li>
                            <li class="tag__item orange-white-50"><i class="fa-brands fa-facebook fa-fw"></i>Facebook
                            </li>
                            <li class="tag__item orange-white-70"><i class="fa-brands fa-twitter fa-fw"></i>Twitter</li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}

{% block js %}
{% endblock js %}