$banner-background: rgb(34 98 107 / 56%);
$banner-repeat: no-repeat;
$banner-position-top: center top;
$banner-position-center: center center;
$banner-position-bottom: center bottom;
$banner-webkit-background-size: cover;
$banner-moz-background-size: cover;
$banner-o-background-size: cover;
$banner-background-size: cover;


@function text($bg) {
  @if(lightness($bg) > 50) {
    @return rgba(0,0,0,.5);
  } @else {
    @return rgba(255,255,255,.5);
  }
}